
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="content" content="This is a Thesis Project that engage with filipino sign languages">
    <meta name="author" content="Ymir">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="icon" href="static/assets/imgs/argon21headsss.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./assets/css/er.css') }}">
</head>
    
<body>

    
    <nav class="navbar custom-navbar navbar-expand-md navbar-light fixed-top" data-spy="affix" data-offset-top="10">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="static/assets/imgs/argon21headsss.png" alt="ygytfytfuyfjyuj">
            </a>
            </div>
        </div>
    </nav>
    
    <!-- End Of Second Navigation -->
    <!-- Page Header -->
    <header class="header" id="title">
        <div class="overlay">
            
             <h1 class="title" >Ymir</h1>   
            <b><h3>Filipino Sign Language</h3></b><br>
            <div style="display: inline-block">
                    <a href="{{ url_for('text') }}"><button   name="publised" class="btn btn-primary"><i class="fi fi-rr-text"></i> Text</button></a> <a href="{{ url_for('sign') }}"><button type="submit"  name="publised" class="btn btn-primary"><i class="fi fi-rr-hand-peace"></i> Sign</button></a> 
            </div> </div>  
        
       
    </header>
    <!-- End Of Page Header -->
    <!-- About Section -->
    

        
	
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>
	<script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>
    <script src="assets/vendors/isotope/isotope.pkgd.js"></script>
    <script src="assets/js/er.js"></script>
    

</body>
</html>
